In [1]:
import pandas as pd

data = {
    'Product':['Laptop', 'Mouse', 'Keyboard', 'Monitor', 'Headsets'],
    'Price':[1300,22,48,210,65],
    'Stock':[5,70,40,15,25]
}

df = pd.DataFrame(data)
print(df)

    Product  Price  Stock
0    Laptop   1300      5
1     Mouse     22     70
2  Keyboard     48     40
3   Monitor    210     15
4  Headsets     65     25

In [2]:
df['total'] = df['Price'] * df['Stock']

In [3]:
print(df)

    Product  Price  Stock  total
0    Laptop   1300      5   6500
1     Mouse     22     70   1540
2  Keyboard     48     40   1920
3   Monitor    210     15   3150
4  Headsets     65     25   1625

In [4]:
df[df['Price'] >= 100]

   Product  Price  Stock  total
0   Laptop   1300      5   6500
3  Monitor    210     15   3150

In [5]:
df[df['Stock'] >= 30]

    Product  Price  Stock  total
1     Mouse     22     70   1540
2  Keyboard     48     40   1920

In [6]:
df.loc[df['Price'] <= 50, 'Price'] *= 1.05

C:\Users\ê³µDok2\AppData\Local\Temp\ipykernel_136272\624637882.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[23.1 50.4]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['Price'] <= 50, 'Price'] *= 1.05

In [7]:
print(df)

    Product   Price  Stock  total
0    Laptop  1300.0      5   6500
1     Mouse    23.1     70   1540
2  Keyboard    50.4     40   1920
3   Monitor   210.0     15   3150
4  Headsets    65.0     25   1625

In [12]:
df[(df['Stock'] <= 20) & (df['Price'] <= 100)]

Empty DataFrame
Columns: [Product, Price, Stock, total]
Index: []